<h2>Experience</h2>
<div class="card-container">
    {% for item in site.data.experience %}
    {% if item.link %}
    <a href="{{ item.link }}" target="_blank">
    {% else %}
    <a>
    {% endif %}    
      <div class="card">
        <div class="icon">
          <img src="./assets/img/experience/{{ item.logo }}">
        </div>
        <div class="info">
          <p class="title">{{ item.university }}</p>
          <p class="location">{{ item.department }}</p>
          <p class="location">{{ item.title }}</p>
          <p class="dates">{{ item.dates }}</p>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
  